* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: rgb(24, 21, 21);
  color: antiquewhite;
  height: 5rem;
  line-height: 5rem;
}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  background-color: rgb(24, 21, 21);
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 4rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-top: 5rem;
}
#msg {
  display: inline;
  background-color: rgb(31, 31, 162);
  color: antiquewhite;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}


#reset-btn {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #081b31;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  #reset-btn:hover {
    background-color: #0b2d55;
  }

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    height: 4rem;
    line-height: 4rem;
  }

  .choice {
    width: 130px;
    height: 130px;
  }

  .choice img {
    width: 115px;
    height: 115px;
  }

  .choices {
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
  }
  .score-board {
    gap: 3rem;
    font-size: 1.5rem;
  }

  #user-score,
  #comp-score {
    font-size: 3rem;
  }

  .msg-container {
    margin-top: 3rem;
  }

  #msg {
    display: inline-block;
    font-size: 1.2rem;
  }

  @media (max-width: 480px) {
  }

  
}
